*~
_*
*.o
*.d
*.asm
*.sym
vectors.S
bootblock
entryother
initcode
fs.img
initcode.out
kernelmemfs
kernel/kernel
user/usys.S
.gdbinit
myapi.key
*-handin.tar.gz
xv6.out*
.vagrant/
submissions/
ph
barrier
